<div class="row">
  <div class="col-md-7" style="margin-left: -30px !important; margin-top: -5%">
    <img
      src="../../assets/images/imagem-login.png"
      alt="logo mania de sorte"
      width="90%"
      height="100%"
    />
  </div>
  <div class="col-md-5 div-cadastro">
    <div *ngIf="mostraMsg" class="alert alert-danger" role="alert">
      Resposta do reCAPTCHA inválida. Provavelmente você é um robô.
    </div>
    <div *ngIf="error" class="alert alert-danger" role="alert">
      {{ error }}
    </div>
    <div class="row">
      <h1 class="box-title text-muted text-cadastro pull-right">CADASTRO</h1>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="row">
      <div class="form-horizontal">
        <div class="box-body">
          <div class="input-group">
            <input
              type="text"
              autocomplete="name"
              [(ngModel)]="usuario.nome"
              name="nome"
              class="form-control pull-right"
              id="userInp"
              placeholder="nome"
            />

            <span class="btn-jogar-2-outline input-group-addon">
              <i class="fa fa-user"></i>
            </span>
          </div>
          <br />
          <div class="input-group">
            <input
              type="text"
              autocomplete="email"
              [(ngModel)]="usuario.email"
              name="email"
              class="form-control pull-right"
              id="emailInp"
              placeholder="email"
            />

            <span class="btn-jogar-2-outline input-group-addon">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <br />
          <div class="input-group">
            <input
              type="password"
              autocomplete="new-password"
              [(ngModel)]="usuario.senha"
              class="form-control pull-right "
              id="senhainp"
              placeholder="Senha"
            />

            <span class="btn-jogar-2-outline input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <br />
          <div class="input-group recaptcha col ">
            <div>
              <re-captcha (resolved)="resolved($event)" class="pull-right"></re-captcha>
            </div>
          </div>

          <br />

          <div class="row text-right pull-right right">
            <input type="checkbox" id="termoAceite" (change)="lockButton = !lockButton" style="width: 2rem !important;"/>
            Declaro ter lido e aceito os <a data-toggle="modal" data-target="#modal" style="cursor: pointer">termos de aceite</a> e conformidade a LGPD.
          </div>


          <br />
          <br />

          <!-- /.box-body -->
          <div class="">
            <a class="col-md-8 esqueci-senha" routerLink="/login">retornar ao login</a>
            <button (click)="cadastrar()" #submitButton [disabled]="lockButton"
                    class="btn btn-jogar-2 pull-right btn-entrar col-md-4">Cadastrar</button>
          </div>
          <!-- /.box-footer -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal" style="display: none">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Termo de aceite LGPD</strong>
      </div>
      <div class="modal-body">
        <div class="container-fluid text-center" [innerHTML]="lgpdText"></div>
      </div>

      <div class="modal-footer">
        <button  type="button" class="btn" style="width: 100% !important;" data-dismiss="modal"> Fechar </button>
      </div>

    </div>
  </div>
</div>
