nav ul a {
    color: black;
  }

.navbar-fixed {
  font-weight: 300;
}
.redimencionar {
  font-size: 13px !important;
}
.logo-ms{
  height: 40px;
  margin-top: -7px;
}
.botao-header{
  min-width: 100%;
}
.row{
  margin-top: 5px;
}
.user-footer{
  margin-top: 30px;
}