<header class="main-header">
  <nav class="navbar navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="#/home" class="navbar-brand">
          <img
            class="logo-ms"
            src="../../assets/images/logo/logo-mania-completo.png"
          />
          <!-- <b>M</b>ania de <b>S</b>orte -->
        </a>
        <button
          type="button"
          class="navbar-toggle collapsed"
          data-toggle="collapse"
          data-target="#navbar-collapse"
        >
          <i class="fa fa-bars"></i>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#/bolao/listar" class="grey-text text-darken-1">Bolão</a>
          </li>

          <li>
            <a href="#/gerar-fechamento" class="grey-text text-darken-1"
              >Fechamentos</a
            >
          </li>
          <li><a href="#/meus-jogos">Meus jogos</a></li>
          <li>
            <a [attr.href]="'/#/' + usuarioLogado.id + '/usuario/detalhes/edt'"
              >Meu perfil</a
            >
          </li>
          <li><a href="#/tutorial">Tutoriais</a></li>
          <li><a href="#/premio-site">Prêmio do site</a></li>
          <li *ngIf="usuarioLogado.perfil.id == 1"><a>|</a></li>
          <li *ngIf="usuarioLogado.perfil.id == 1">
            <a href="#/usuario/listar">Usuários</a>
          </li>
          <li *ngIf="usuarioLogado.perfil.id == 1">
            <a href="#/bolao/cadastrar">Bolões</a>
          </li>
          <li *ngIf="usuarioLogado.perfil.id == 1">
            <a href="#/saques/listar">Saques Pendentes</a>
          </li>
          <li *ngIf="usuarioLogado.perfil.id == 1">
            <a href="#/premio-site">Dash</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Notifications: style can be found in dropdown.less -->

          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img
                src="../../assets/images/avatar/avatar-10.png"
                class="user-image"
                alt="User Image"
              />
              <span class="hidden-xs">{{ usuarioLogado.nome }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <div class="row">
                  <img
                    width="85"
                    src="../../assets/images/avatar/avatar-10.png"
                    class="img-circle"
                    alt="User Image"
                  />
                </div>
                <div class="row">
                  <p class="col-md-12">
                    {{ usuarioLogado.nome }} {{ usuarioLogado.sobrenome }}
                  </p>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <small class="btn-jogar-2-outline pull-right"
                      ><i class="fas fa-money-bill"></i
                    ></small>
                  </div>
                  <div class="col-md-6">
                    <small class="btn-jogar-2-outline pull-left">{{
                      usuarioLogado.carteira?.saldo | currency: "BRL"
                    }}</small>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <small class="texto-cinza pull-right">Jogos</small>
                  </div>
                  <div class="col-md-6">
                    <small class="pull-left">{{
                      usuarioLogado.qntBoloes
                    }}</small>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <small class="texto-cinza pull-right">Perfil</small>
                  </div>
                  <div class="col-md-6">
                    <small class="pull-left">{{
                      usuarioLogado.perfil.perfil
                    }}</small>
                  </div>
                </div>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="row">
                  <div class="col-md-6">
                    <a
                      [attr.href]="
                        '/#/' + usuarioLogado.id + '/usuario/detalhes/edt'
                      "
                      class="botao-header btn btn-jogar-2 btn-sm"
                      >Meu perfil</a
                    >
                  </div>
                  <div class="col-md-6">
                    <a href="#" class="botao-header btn btn-danger btn-sm"
                      >Sair</a
                    >
                  </div>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-custom-menu -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
