<footer class="main-footer">
  <div class="pull-right hidden-xs">
    <b>Versão</b> 1.0.0
  </div>
  <strong>Copyright &copy; 2018-2019 <a href="https://elti.com.br/">Elti</a>.</strong> Todos os direitos reservados
</footer>