.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    position: absolute;
    width:100%;
    top:0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}
.esmaecerFundo, .container
{
    filter: blur(4px);
}
.loader-show{
    // position: absolute !important;
}