.numeros-fechamento {
  margin-left: 5px;
  background-color: #80b9e6;
  padding: 7px;
  width: 40px;
  border-radius: 75%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.modal-dialog {
  width: 600px !important;
}

.thumbnail {
  position: relative !important;
}

._caption {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  align-content: center;
  position: absolute !important;
  color: #FFFFFF;
  font-weight: bold;
}

.header-listar-boloes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.box {
  margin-top: 10px;
  max-width: 350px;
  margin-left: 1%;
  min-height: 175px;
}
.img-card {
  display: inline-block;
  height: 300px;
  //width: 1023px;
  margin: 0px !important;
}
.img-card img {
  height: 100%;
  width: 513px;
  object-fit: fill;
}
.detalhar {
  color: #2a9a9f !important;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}
.modal-sm-bolao {
  width: 70%;
  margin-left: 15%;
  border-radius: 2% !important;
}
.input-unset {
  width: unset !important;
}
.no-set {
  width: unset !important;
}
.col-md-10-imp {
  width: 90% !important;
}
select.form-control {
  width: 95% !important;
}
.btn-jogar {
  width: 100% !important;
}
