<app-header></app-header>

<div class="content-wrapper">

  <div class="container">
    <!-- Content Header (Page header) -->
    <section class="content-header header-listar-boloes">
      <h1>
        BOLÃO<br/>
        <small>Aqui você tem a listagem de todos os bolões</small>
      </h1>
    </section>
  </div>
  <div class="container col" *ngIf="boloes.length">
    <div *ngFor="let item of boloes">

      <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <div class="thumbnail box">

          <img src="assets/images/img-bolao-logo-completo.png" alt="img-bolao-logo-completo">

          <div class="_caption container text-center">
            <h2>{{ item.bolao.titulo }}</h2>
            <h2>{{ item.bolao.valorSorteio | currency : 'BRL' }}</h2>
          </div>

          <div class="caption row">
            <div class="col-xs-6">
              <p class="text-bold text-uppercase"> {{ item.bolao.titulo }} </p>
            </div>
            <div class="col-xs-6">
              <small>Concurso nº: {{ item.bolao.numeroConcurso }}</small><br />
              <div title="Faltam {{ item.dtTotal - item.dtPercorrido }} dias para o sorteio" class="progress sm">
                <div class="progress-bar progress-bar-green" [ngStyle]="{ width: item.porcentagem + '%' }"></div>
              </div>
            </div>
          </div>

          <div class="caption row">
            <div class="col-xs-12">
              <p class="text-bold">
                Cotas: {{ item.bolao.qtdCotasVendidas }}/{{ item.bolao.quantidadeCotas }}
                <span class="text-danger" *ngIf="item.bolao.qtdCotasPendentes > 0">
                  ({{item.bolao.qtdCotasPendentes}} pendente{{item.bolao.qtdCotasPendentes > 1 ? 's' : ''}})
                </span>
                <br />
                Valor: {{ item.bolao.valorCota | currency : 'BRL' }}<br />
                Sorteio: {{ item.bolao.dataBolao | date: "dd/MM/yyyy" }}
              </p>
            </div>
          </div>

          <div class="caption row">
            <div class="col-xs-7 col-sm-7 col-md-6 col-lg-6 col-xl-6">
              <p><small>Quantidade de jogos: {{ item.jogos?.length }}</small>
                <br/>
                <a data-toggle="modal" class="detalhar" (click)="getJogo(item)" data-target="#modal-detalhes">
                  Detalhes do jogo
                </a>
              </p>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-6 col-lg-6 col-xl-6 text-center" style="margin-top: -2rem;">
              <a (click)="imagens = item.imagens" data-toggle="modal" data-target="#modal"
                 style="color: inherit; text-decoration: inherit; cursor: pointer">
                <i class="fas fa-camera fa-2x"></i>
              </a>
              <button [disabled]="!(item.bolao.quantidadeCotas && item.jogos?.length)" data-toggle="modal"
                      (click)="selecionarBolao(item)" data-target="#modal-jogar-agora" class="btn btn-jogar">
                Jogar
              </button>
              <button *ngIf="!item.bolao.quantidadeCotas" (click)="esgotado()" class="btn btn-jogar">
                Não disponivel
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!--DETALHAR BOLÃO MODAL-->
  <div class="modal fade" id="modal-detalhes" style="display: none">
    <div class="modal-dialog text-center">

      <div class="modal-header">
        <strong>Detalhes do jogo</strong>
      </div>

      <div class="modal-content">

        <div class="modal-body">
          <div class="text-center">

            <h2 class="text-bold">{{ bolao.titulo }}</h2>

            <div class="row text-bold">
              <div class="col-md-6 col-lg-6 col-sm-6 text-left">
                <p>{{ bolao.titulo }}</p>
                <p>sorteio: {{ bolao.dataBolao | date : 'dd/MM/yyyy' }}</p>
              </div>
              <div class="col-md-6 col-lg-6 col-sm-6 text-right">
                <p>{{ bolao.valorSorteio | currency: 'BRL' }}</p>
                <p>Concurso: {{ bolao.numeroConcurso }}</p>
              </div>
            </div>

            <hr/>

            <div class="text-left" [innerHTML]="bolao?.detalhes"></div>

            <h3 class="text-bold">Dezenas sorteadas</h3>

            <br/><br/>

            <span class="numeros-fechamento" *ngFor="let _dezena of bolao.dezenasSorteadas">{{ _dezena }}</span>

            <br/><br/>

            <p class="text-bold text-left">{{ bolao.jogos?.length }} Apostas veja abaixo</p>

            <div class="inline row" *ngFor="let jogo of bolao?.jogos; let _index = index">
              <span class="text-bold"> {{ _index + 1 }} - </span>

              <div style="display: inline !important;">
                <div class="numeroJogo" *ngFor="let _numerosAposta of jogo.numeros">
                  <div class="numero">{{ _numerosAposta }}</div>
                </div>
              </div>

              <div class="inline" style="margin-left: 1rem !important;">
                <strong>Nº Acertos:</strong> {{ jogo.acertos }}
              </div>

            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn" style="width: 100% !important;" data-dismiss="modal"> Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <!--JOGAR AGORA MODAL-->
  <div class="modal fade" id="modal-jogar-agora" style="display: none">
    <div *ngIf="bolaoSelecionado" class="modal-dialog">
      <div class="modal-content modal-sm-bolao">
        <div class="modal-header">
          <button #closebutton type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h1 class="modal-title">
            {{ bolaoSelecionado?.bolao.titulo }}<br/>
          </h1>
          <!-- <small>Sorteio de número {{ bolaoSelecionado[0].sorteio.numero }}</small> -->
        </div>
        <div class="modal-body">
          <form>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="qtd-cotas" class="control-label">Quantidade de cotas</label>
                <input type="number" (change)="verificarMaximo()" [(ngModel)]="qtdCotas" min="1"
                       max="{{ bolaoSelecionado?.bolao.quantidadeCotas }}" name="qtd-cotas"
                       class="form-control no-set col-md-4" id="qtd-cotas"/>
              </div>
              <div class="form-group col-md-6">
                <label for="vlr-cota" class="control-label">Total:</label>
                <input type="text" disabled name="vlr-cota" value="{{
                    bolaoSelecionado?.bolao.valorCota * qtdCotas
                      | currency: 'BRL'
                  }}" class="form-control col-md-10-imp" id="vlr-cota"/>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label for="meio-pgt" class="control-label">Modo de pagamento:</label>
                <select [(ngModel)]="meioDePagamento" name="meio-pgt" id="meio-pgt" class="form-control">
                  <!-- <option value="0" selected disabled>Selecionar...</option> -->
                  <option value="1" [disabled]="carteira.saldo < (bolaoSelecionado?.bolao.valorCota * qtdCotas)">
                    &#xf0d6; Saldo da Conta ({{carteira.saldo | currency : 'BRL' }})</option>
                  <option value="2">&#xf09d; PagSeguro</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" (click)="jogarAgora()" class="btn btn-jogar-2 pull-left">
            JOGAR
          </button>
        </div>
      </div>
    </div>
  </div>

  <!--CARROUSSEL-->
  <div class="modal" id="modal" style="display: none">
    <div class="modal-dialog text-center">
      <div class="modal-content">
        <div class="modal-body">
          <ngx-slick-carousel class="carousel" [config]="slideConfig" #slickModal="slick-carousel">
            <div ngxSlickItem *ngFor="let imagem of imagens" class="slide row img-card">
              <img src="{{ apiUrl }}imagens/{{ imagem.hash_arquivo }}" (error)="setImageUrlFromPainel($event, imagem)"
                   alt="{{ imagem.nome_arquivo }}"/>
            </div>
          </ngx-slick-carousel>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn" style="width: 100% !important;" data-dismiss="modal"> Fechar</button>
        </div>
      </div>
    </div>
  </div>
</div>
