<div class="container">
  <div class="row">
    <div class="col-md-7" style="margin-left: -30px !important; margin-top: -5%">
      <img src="../../assets/images/imagem-login.png" alt="logo mania de sorte" width="90%" height="100%">
    </div>
    <div class="col-md-5 div-recuperar">
      <div class="box box-success">
        <div class="box-header with-border">
          <h1 class="box-title text-muted">Recuperar Senha</h1>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="form-horizontal">
          <div class="box-body">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <input type="email" [(ngModel)]="loginModel.username" class="form-control" id="emailInp" placeholder="Email">
            </div>
            <br>
            <!-- /.box-body -->
            <div class="box-footer">
              <a routerLink="/login" class="btn btn-default">Retornar ao login</a>
              <a (click)="recuperar()" class="btn btn-primary pull-right col-md-6">Recuperar</a>
            </div>
            <!-- /.box-footer -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>