.div-recuperar{
    padding-right: 5%;
    margin-top: 10%;
}
.container{
    width: unset !important;
    margin-right: unset !important;
    margin-left: unset !important;
    padding-right: unset !important;
    padding-left: unset !important;
}