<app-header></app-header>

<div class="container">
  <button (click)="efetuarPagamento()" 
    *ngIf="!vigente"
    class="btn btn-lg btn-jogar-2 pull-right btn-add-pagamento">
    Adicionar Pagamento
  </button>

  <h2 class="box-title">Listagem de pagamentos</h2>

  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <!-- <div class="row">
        <div class="col-sm-12 text-right">
          
        </div>
      </div> -->

      <div class="col-sm-12">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui stripe">
          <thead>
            <tr>
              <th class="col-md-3">Descrição</th>
              <th class="col-md-2">Data de Inicio</th>
              <th class="col-md-2">Data de Expiração</th>
              <th class="col-md-2 text-center">Valor</th>
              <th class="col-md-2">Situação</th>
              <th class="col-md-2">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pagamento of pagamentos">
              <td class="text-left">Anuidade</td>
              <td>{{ pagamento.dataCadastro | date: "dd/MM/yyyy HH:mm" }}</td>
              <td>{{ pagamento.dataVigencia | date: "dd/MM/yyyy HH:mm" }}</td>
              <td class="text-right">{{ pagamento.valorPago | currency: "BRL" }}</td>
              <td>
                <span [ngClass]="{
                  'label-danger': [1,2,3].indexOf(pagamento.pagamentoSituacao.id), 
                  'label-warning': [4,5,7].indexOf(pagamento.pagamentoSituacao.id), 
                  'label-success': pagamento.pagamentoSituacao.id == 6}" class="label">
                  {{ pagamento.pagamentoSituacao.nome }}
                </span>
              </td>
              <td>
                <button *ngIf="!([6,7].indexOf(pagamento.pagamentoSituacao.id) >= 0) && !vigente" 
                  (click)="efetuarPagamento()"
                  class="btn btn-jogar btn-pagamento">
                  Efetuar Pagamento
                </button>
                <span *ngIf="!(!([6,7].indexOf(pagamento.pagamentoSituacao.id) >= 0) && !vigente)">-</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>