.box-pagamento {
    padding: 50px;
}

.box-pagamento strong {
    font-size: 30px;
}

.box-pagamento p {
    font-size: 24px;
}

.btn-pagamento {
    width: 100% !important;
}

.btn-add-pagamento {
    margin-top: 14px;
}