
.skin-blue{
    background: #fff !important;
}
.div-login{
    padding-right: 5%;
    margin-top: 10%;
}
.text-login {
    font-size: 60px;
    font-weight: 700;
}
input{
    border-radius: 0% !important;
    width: 350px !important;
}
.input-group-addon{
    min-width: 40px !important;
}
.recaptcha{
    display: grid;
}
.btn-entrar{
    width: 150px;
}
.esqueci-senha{
    cursor: pointer;
    text-align: right;
    margin-top: 6px;
}

.container{
    width: unset !important;
    margin-right: unset !important;
    margin-left: unset !important;
    padding-right: unset !important;
    padding-left: unset !important;
}

.error{
    color:red;
}