<div class="container">
<div class=" row">
  <div class="col-md-7" style="margin-left: -30px !important; margin-top: -5%">
    <img src="../../assets/images/imagem-login.png" alt="logo mania de sorte" width="90%" height="100%">
  </div>
  <div class="col-md-5 div-login">

    <div *ngIf="mostraMsg" class="alert alert-danger" role="alert">
      Resposta do reCAPTCHA inválida. Provavelmente você é um robô.
    </div>
    <div class="row">
      <h1 class="box-title text-muted text-login pull-right">LOGIN</h1>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="row">
      <div class="form-horizontal">
        <div class="box-body">
          <div class="input-group">
            <input type="email" autocomplete="name" [(ngModel)]="loginModel.username" class="form-control pull-right" id="emailInp"
              placeholder="Email">

            <span class="btn-jogar-2-outline input-group-addon">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
          <br>
          <div class="input-group">

            <input type="password" autocomplete="current-password" [(ngModel)]="loginModel.password" class="form-control pull-right " id="senhainp"
              placeholder="Senha">

            <span class="btn-jogar-2-outline input-group-addon">
              <i class="fa fa-lock"></i>
            </span>
          </div>
          <br>
          <span  class="error mb-2 pull-right" *ngIf="errorMessage">{{errorMessage}}</span>
          <br>
          <div class="input-group recaptcha col ">
            <div>
              <re-captcha (resolved)="resolved($event)" class="pull-right"></re-captcha>
            </div>
          </div>
          <br>
          <br>
          <!-- /.box-body -->
          <div class="">
            <a class="col-md-8 esqueci-senha" (click)="recuperar()">esqueci minha senha</a>
              <a (click)="login()" class="btn btn-jogar-2 pull-right btn-entrar col-md-4">Entrar</a>
              <br>
              <br>
              <br>
              <br>
              <br>
              <br>
              <p class="pull-right">Não tem conta? <a routerLink="/cadastro" class="btn-jogar-2-outline">Cadastre-se agora</a></p>
              <br>
          </div>
          <!-- /.box-footer -->
        </div>
      </div>
    </div>
  </div>
</div>
