<app-header></app-header>
<div class="container-fluid">
  <h2 class="box-title">Listagem de Usuários</h2>
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body" style="overflow-y: auto">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="ui stripe">
        <thead>
        <tr>
          <th><img width="30" height="30" src="../../../assets/images/avatar/avatar-7.png" /></th>
          <th>NOME</th>
          <th>VALOR NA CARTEIRA</th>
          <th>QNT BOLÕES</th>
          <th>STATUS</th>
          <th>ID CONTAGEM DOS EVENTOS</th>
          <th>DATA INICIO CADASTRO</th>
          <th>DATA FIM CADASTRO</th>
          <th>TEMPO DE PERMANÊNCIA</th>
          <th>PRÊMIOS RECEBIDOS</th>
          <th>QUANTIDADE DE COTAS PARTICIPAÇÃO</th>
          <th>TOTAL DE SAQUES</th>
          <th>ENDEREÇO</th>
          <th>AÇÕES</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td><img width="30" height="30" src="../../../assets/images/avatar/avatar-7.png" /></td>
          <td>{{usuario.nome}}</td>
          <td>{{usuario.carteira?.saldo | currency:'BRL'}}</td>
          <td>{{usuario.qntBoloes}}</td>
          <td *ngIf="usuario.status">
            <div id="ativo"><span hidden>{{usuario.status}}</span></div>
          </td>
          <td *ngIf="!usuario.status">
            <div id="inativo" ><span hidden>{{usuario.status}}</span></div>
          </td>
          <td style="color: red">AGUARDANDO REVISÃO DO CLIENTE</td>
          <td>{{ usuario.pagamento[0]?.dataCadastro | date: 'dd/MM/yyyy' }}</td>
          <td>{{ usuario.pagamento[0]?.dataVigencia | date: 'dd/MM/yyyy' }}</td>
          <td>{{ usuario.tempoPermanencia }}</td>
          <td>{{ usuario.premioRecebido }}</td>
          <td>{{ usuario.qntCotas }}</td>
          <td style="color: red">AGUARDANDO REVISÃO DO CLIENTE</td>
          <td>{{ usuario.endereco?.endereco }} {{ usuario.endereco?.cidade }} {{ usuario.endereco?.numero }}</td>
          <td>
            <a class="acoes" (click)="editar(usuario.id)"><i class="fa fa-edit"></i></a>
            <a class="acoes" (click)="excluir(usuario.id)"  data-toggle="modal" data-target="#modal-excluir"><i class="fa fa-power-off"></i></a>
            <a class="acoes" (click)="detalhar(usuario.id)"><i class="fa fa-eye"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</div>
<div class="modal fade" id="modal-excluir" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Desativar usuario</h4>
      </div>
      <div *ngIf="ehExcluir" class="modal-body modal-warning">
        <!-- <p>Se você excluir um usuário, isso irá apagar também todos os registros relacionado à ele. Como por exemplo todo o saldo de sua carteira e seus boloes.</p> -->
        <p>Se você desativar um usuário, ele não podera mais acessar o sistema.</p>
        <p>Deseja realmente desativar o usuario {{usuario.nome}} ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn  pull-left" data-dismiss="modal">Cancelar</button>
        <button type="button" (click)="confirmarExclusao()" class="btn btn-danger" data-dismiss="modal">Desativar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
