<app-header></app-header>
<!--Div com o escopo principal do conteúdo-->
<div class="content-wrapper">
  <!--Container  usado para alocar espaço  dentro do escopo com linhas e colunas-->
  <div class="container">
    <!--Classe  para promover alterações específicas nesse cabeçalho que usa o elemento section -->
    <section class="usuario" class="content-header">
      <!--tag <h1/> utilizado para mostrar tamanho do texto grande e a tag <b/> para adicionar o efeito negrito-->
      <h1><b>Usuário</b></h1>
    </section>
    <!--a class row é usada para dizer que todo o conteudo que estiver nessa div vai permanecer na mesma linha,a class espacamento título seta uma algumas propriedades para separar um card do outro-->
    <div class="row espacamento-titulo">
      <!--Dentro dessa div a class diz que dentro desta mesma linha  vai ter 4 colunas do tamanho médio-->
      <div class="row col-md-4">
        <!-- div com uma caixa(box) com 12 colunas médias-->
        <div class="box col-md-12">
          <!--Class setada no estilo do component(less)que vai dizer a essa tag que ela deve alinhar o texto no centro -->
          <div class="alinhamento-centro">
            <!--(box)tbm usado como card,o box-header é usado para que vai ser usado no cabeçalho,ou seja na parte de cima do card-->
            <div class="box-header">
              <!--Div utilzada para colocar uma imagem que vai ser utilizada no card-->
              <div class="">
                <!--Tag usada para definir uma imagem no card,a class img seta valores no elementos,são eles: espaço do topo e uma altura fixa-->
                <img
                  class="img"
                  src="../../../assets/images/avatar/avatar-10.png"
                  alt="avatar"
                />
                <!--<h5/>Utilizada para textos menores,o card text-nome é uma class específica para textos. a class nome seta uam margin do topo,ou seja ter espaço entre o nome e imagem -->
                <h5 class="card-text nome">
                  <b>{{ usuario.nome }} {{ usuario.sobrenome }}</b>
                </h5>
              </div>
            </div>
            <!--Essa class box-body é o corpo do cartão-->
            <div class="box-body">
              <!--Serve para adicionar uma linha,em específico a class está setada com um valor de 80% do tamanho do cartão-->
              <hr class="linha" />
              <!--Corpo do cartão com 12 colunas do tamanho médio-->
              <div class="card-body col-md-12">
                <!--Elemento com 12 colunas médias-->
                <div class="col-md-12">
                  <!--linha-->
                  <div class="row">
                    <!--<h3/>Usados para textos de tamanho médio,com a class btn-jogar-2,classe de estilo global que seta a cor do elemento e a tag <i/> indica que vai usar um ícone e a classe fa-money é o próprio ícone-->
                    <h3 class="btn-jogar-2-outline">
                      <i class="fas fa-money-bill"></i>
                      {{ usuario.carteira?.saldo || 0 | currency: "BRL" }}
                    </h3>
                  </div>
                  <!--linha-->
                  <div class="row">
                    <!--Utilizado para textos menores,a class cor-item seta a cor cinza para esse elemento-->
                    <h5 class="cor-item">Jogos: {{ usuario.qntBoloes }}</h5>
                  </div>
                  <!--linha-->
                  <div class="row">
                    <!--Utilizado para textos menores,a class cor-item seta a cor cinza para esse elemento-->
                    <h5 class="cor-item">
                      Perfil: {{ usuario.perfil.perfil }}
                    </h5>
                  </div>
                </div>
              </div>
            </div>
            <!--Essa class box-footer define  o rodapé do cartão-->
            <div *ngIf="isActiveDiv" class="box-footer footer-card-1">
              <!--Tag <a/> é usada para links e botões que é o nosso caso,a class btn-jogar-2,a classe de estilo global que seta a cor do elemento-->
              <a
                class="btn btn-lg btn-jogar-2"
                data-toggle="modal"
                data-target=".modalMinhaCarteira"
              >
                Acessar minha carteira</a
              >
            </div>
          </div>
        </div>
      </div>
      <!--Class com 8 colunas médias-->
      <div class="col-md-8">
        <!--Dentro dessas 8 colunas,cabem 12 colunas responsivas do tamanho médio-->
        <div class="box col-md-12">
          <!--Div-->
          <div class="">
            <!--(box)tbm usado como card,o box-header é usado para que vai ser usado no cabeçalho,ou seja na parte de cima do card-->
            <div class="box-header">
              <h3>Informações do Usuário</h3>
            </div>
            <!--Essa class box-body é o corpo do cartão,com a class de estilo universal texto-cinza para setar a cor em questão -->
            <div class="box-body texto-cinza">
              <!--tag form é um elemento para a criação de formulários-->
              <form action="">
                <!--Corpo do cartão-->
                <div class="box-body">
                  <!--linha-->
                  <div class="row">
                    <!--formulário de entrada do nome com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="Nome">Nome</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        type="text"
                        id="Nome"
                        name="nome"
                        [(ngModel)]="usuario.nome"
                        class="form-control"
                        id="nome"
                        placeholder="Nome"
                      />
                    </div>
                    <!--formulário de entrada do sobrenome com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="sobrenome">Sobrenome</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        type="text"
                        id="sobrenome"
                        name="sobrenome"
                        [(ngModel)]="usuario.sobrenome"
                        class="form-control"
                        id="sobrenome"
                        placeholder="Sobrenome"
                      />
                    </div>
                  </div>
                  <!--linha-->
                  <div class="row">
                    <!--formulário de entrada do Email com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="">E-mail</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        type="email"
                        id="email"
                        name="email"
                        readonly
                        [(ngModel)]="usuario.email"
                        class="form-control"
                        id="mail"
                        placeholder="Email"
                      />
                    </div>
                    <!--formulário de entrada da data de nascimento com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="dataNascimento">Data de Nascimento</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        type="date"
                        id="dataNascimento"
                        name="dataNascimento"
                        (blur)="usuario.dataNascimento = $event.target.value"
                        [ngModel]="usuario.dataNascimento | date: 'yyyy-MM-dd'"
                        class="form-control"
                        id="data"
                        placeholder="Data de Nascimento"
                      />
                    </div>
                  </div>
                  <!--linha-->
                  <div class="row">
                    <!--formulário de entrada do cpf com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="cpf-mask">CPF</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        type="cpf-mask"
                        name="cpf"
                        [(ngModel)]="usuario.cpf"
                        class="form-control"
                        id="cpf-mask"
                        placeholder="CPF"
                        [showMaskTyped]="true"
                        mask="000.000.000-00"
                      />
                    </div>
                    <!--formulário de entrada do tipo de sexo com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="">Sexo</label>
                      <!--Caixa de seleção com 2 escolhas para optar no momento do preenchimento do formulário-->
                      <select
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        class="form-control input-cinza"
                        [(ngModel)]="usuario.sexoFK"
                        name="usuário"
                        id="usuario"
                      >
                        Selecione
                        <!--Opção masculino e feminino.Os valores são setados no typescript do component-->
                        <option
                          *ngFor="let sexo of sexos"
                          [(ngValue)]="sexo.id"
                        >
                          {{ sexo.sexo }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <!--linha-->
                  <div class="row">
                    <!--formulário de entrada do cpf com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="telefone">Telefone</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        type="text"
                        name="telefone"
                        [(ngModel)]="usuario.telefone"
                        class="form-control"
                        id="telefone"
                        [showMaskTyped]="true"
                        mask="(00) 00000-0000"
                        placeholder="Telefone"
                      />
                    </div>
                    <!--formulário de entrada do cpf com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada,porém não tem conteúdo,apenas ocupa espaço-->

                    <!--formulário de entrada do tipo de sexo com 6 colunas médias,a class form-group serve para estruturar o formulário de forma organizada-->
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="">Perfil</label>
                      <!--Caixa de seleção com 2 escolhas para optar no momento do preenchimento do formulário-->
                      <select
                        [ngClass]="{ disabledDiv: !isActiveDiv || !usuarioAdm }"
                        class="form-control input-cinza"
                        [(ngModel)]="usuario.perfilFk"
                        name="perfil"
                        id="perfil"
                      >
                        Selecione
                        <!--Opção masculino e feminino.Os valores são setados no typescript do component-->
                        <option
                          *ngFor="let perfil of perfis"
                          [(ngValue)]="perfil.id"
                        >
                          {{ perfil.perfil }}
                        </option>
                      </select>
                    </div>

                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="cep">CEP</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        class="form-control"
                        type="text"
                        id="cep"
                        name="cep"
                        (blur)="buscaCep()"
                        [(ngModel)]="usuario.endereco.cep"
                        mask="00.000-000"
                        required
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="uf">UF</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        type="text"
                        name="uf"
                        [(ngModel)]="usuario.endereco.uf"
                        class="form-control"
                        id="uf"
                        required
                        mask="AA"
                      />
                    </div>
                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="cidade">Cidade</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        type="text"
                        name="cidade"
                        [(ngModel)]="usuario.endereco.cidade"
                        class="form-control"
                        required
                        id="cidade"
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="logradouro">Logradouro</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        type="text"
                        name="logradouro"
                        [(ngModel)]="usuario.endereco.logradouro"
                        class="form-control"
                        required
                        id="logradouro"
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="numero">Número</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        type="text"
                        name="numero"
                        [(ngModel)]="usuario.endereco.numero"
                        class="form-control"
                        required
                        id="numero"
                      />
                    </div>

                    <div class="form-group col-md-6">
                      <!--Rótulo onde especifíca o que colocar no campo-->
                      <label for="bairro">Bairro</label>
                      <!--input é a tag que cria o elemento para a inserção de numeros,letras,alfanuméricos e etc o type dix qual tipo de conteúdo poderá ser inserido e a class form-control estabele um controle dentro do escopo,o id especifíca um valor único para ser setado por JS ou CSS e o placeholder descreve o que se espera na input-->
                      <input
                        type="text"
                        required
                        name="bairro"
                        [(ngModel)]="usuario.endereco.endereco"
                        class="form-control"
                        id="bairro"
                      />
                    </div>
                  </div>
                  <!--linha-->
                  <div class="row">
                    <!--12 colunas de tamanho médio-->
                    <div class="col-md-12">
                      <!--Rótulo onde especifíca o que colocar no campo,class containerChk seta um display:block que serve par visualizar um bloco,a posição onde vai ficar-->
                      <label
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        *ngIf="usuarioAdm"
                        for="status"
                        class="containerChk"
                      >
                        <!--Caixa de marcação para selecionar-->
                        <input
                          id="status"
                          name="status"
                          [(ngModel)]="usuario.status"
                          type="checkbox"
                        />
                        <!--class checkmark usada para setar posição e cor-->
                        <span class="checkmark"></span>
                        <!--parágrafo com a class textoCheck setando o estilo e o tamanho da fonte -->
                        <p class="textoCheck">Ativo</p>
                      </label>
                      <!--Próxima linha-->
                      <br />
                      <!--Rótulo onde especifíca o que colocar no campo,class containerChk seta um display:block que serve par visualizar um bloco,a posição onde vai ficar-->
                      <label
                        [ngClass]="{ disabledDiv: !isActiveDiv }"
                        class="containerChk"
                      >
                        <!--Caixa de marcação para selecionar-->
                        <input
                          type="checkbox"
                          [(ngModel)]="usuario.receberemail"
                          [ngModelOptions]="{ standalone: true }"
                        />
                        <!--class checkmark usada para setar posição e cor-->
                        <span class="checkmark"></span>
                        <!--parágrafo com a class textoCheck setando o estilo e o tamanho da fonte -->
                        <p class="textoCheck">
                          Quero receber email quando sair o resultado do sorteio
                        </p>
                      </label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!--Essa class box-footer define  o rodapé do cartão-->
            <div *ngIf="isActiveDiv" class="box-footer">
              <!--Tag <a/> é usada para links e botões que é o nosso caso,a class btn-jogar-2,a classe de estilo global que seta a cor do elemento,com 3 colunas médias-->
              <a
                (click)="alterarUsuario()"
                class="btn-save btn-lg btn btn-jogar-2 col-md-3 botoes"
                >Salvar</a
              >
              <!--Tag <a/> é usada para links e botões que é o nosso caso,a class btn-lg(botão largo),a classe de estilo global que seta a cor do elemento,com 3 colunas médias-->
              <a
                class="btn btn-lg btn-jogar col-md-3 botoes"
                data-toggle="modal"
                data-target=".modalAlterarSenha"
                >Alterar Senha</a
              >
              <!--Tag <a/> é usada para links e botões que é o nosso caso,a class btn-lg(botão largo),a classe de estilo global que seta a cor do elemento,com 3 colunas médias-->
              <a
                class="btn btn-lg btn-jogar col-md-3 botoes"
                data-toggle="modal"
                data-target=".modalDadosCartao"
                *ngIf="usuario.id === usuarioLogado.id"
                >Dados do cartão</a
              >
              <a
                class="btn btn-lg btn-jogar col-md-3 botoes"
                data-toggle="modal"
                data-target=".modalDadosBancarios"
                *ngIf="usuario.id === usuarioLogado.id"
                >Dados Bancários</a
              >
              <a
                class="btn btn-lg btn-jogar col-md-3 botoes"
                *ngIf="usuario.id === usuarioLogado.id"
                (click)="redirecionaPagamentos()"
                >Pagamentos</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade modalDadosBancarios"
  tabindex="-1"
  role="dialog"
  aria-labelledby="alterarSenhaModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="col md-12">
        <div class="box-header">
          <h3>Dados Bancários</h3>
        </div>
        <div class="box-body col-md-12">
          <div class="col-md-6">
            <label for="banco">Banco</label>
            <input
              id="banco"
              [(ngModel)]="dadosBancarios.banco"
              type="text"
              name="banco"
              class="form-control"
              placeholder="Banco"
            />
          </div>
          <div class="col-md-6">
            <label for="agencia">Agência</label>
            <input
              id="agencia"
              [(ngModel)]="dadosBancarios.agencia"
              type="text"
              name="agencia"
              class="form-control"
              placeholder="Agência"
            />
          </div>
          <div class="col-md-9">
            <label for="conta">Conta</label>
            <input
              id="conta"
              [(ngModel)]="dadosBancarios.conta"
              type="text"
              name="conta"
              class="form-control"
              placeholder="Conta"
            />
          </div>
          <div class="col-md-3">
            <label for="conta">Dígito</label>
            <input
              id="contaDigito"
              [(ngModel)]="dadosBancarios.contaDigito"
              type="text"
              name="contaDigito"
              class="form-control"
              placeholder="Dígito da conta"
            />
          </div>
          <div class="col-md-6">
            <label for="nomeCompleto">Nome Completo</label>
            <input
              id="nomeCompleto"
              [(ngModel)]="dadosBancarios.nomeCompleto"
              type="text"
              name="nomeCompleto"
              class="form-control"
              placeholder="Nome Completo"
            />
          </div>
          <div class="col-md-6">
            <label for="cpf">Cpf</label>
            <input
              id="cpf"
              [(ngModel)]="dadosBancarios.cpf"
              type="text"
              name="cpf"
              [showMaskTyped]="true"
              mask="000.000.000-00"
              class="form-control"
              placeholder="cpf"
            />
          </div>
        </div>
        <div class="box-footer">
          <a
            class="btn-save btn-lg btn btn-jogar-2 col-md-3 botoes save"
            (click)="enviarDadosBancarios()"
            data-dismiss="modal"
            >Salvar</a
          >
          <a
            class="btn-save btn-lg btn col-md-3 save cancel"
            data-dismiss="modal"
            aria-label="Close"
            >Cancelar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade modalAlterarSenha"
  tabindex="-1"
  role="dialog"
  aria-labelledby="alterarSenhaModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="col md-12">
        <div class="box-header">
          <h3>Alterar Senha</h3>
        </div>
        <div class="box-body col-md-12">
          <div class="col-md-12">
            <label for="Senha">Nova senha</label>
            <input
              id="Senha"
              [(ngModel)]="senha.Senha"
              type="password"
              name="Senha"
              class="form-control"
              placeholder="Senha"
            />
          </div>
          <div class="col-md-12">
            <label for="SenhaConfirmacao">Confirmação de senha</label>
            <input
              id="SenhaConfirmacao"
              [(ngModel)]="senha.SenhaConfirmacao"
              type="password"
              name="SenhaConfirmacao"
              class="form-control"
              placeholder="Confirmação da senha"
            />
          </div>
        </div>
        <div class="box-footer">
          <a
            class="btn-save btn-lg btn btn-jogar-2 col-md-3 botoes save"
            (click)="alterarSenha()"
            data-dismiss="modal"
            >Salvar</a
          >
          <a
            class="btn-save btn-lg btn col-md-3 save cancel"
            data-dismiss="modal"
            aria-label="Close"
            >Cancelar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade modalDadosCartao"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dadosBancariosModal"
  aria-hidden="true"
>
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="col md-12">
        <div class="box-header">
          <h3>Dados do cartão</h3>
        </div>
        <div class="box-body col-md-6">
          <div class="col-md-12">
            <label for="nomCartao">Nome no Cartão</label>
            <input
              id="nomCartao"
              [(ngModel)]="cartao.nomeCartao"
              type="text"
              name="name"
              class="form-control"
              placeholder="Fulano"
            />
          </div>
          <div class="col-md-12">
            <label for="cc-number">Número do Cartão</label>
            <input
              type="tel"
              (change)="verificarCartao()"
              [(ngModel)]="cartao.numero"
              id="cc-number"
              autocomplete="cc-num"
              name="number"
              class="form-control"
              placeholder="00000.00000.00000.00000"
              ccNum
            />
          </div>
          <div class="col-md-6">
            <label for="expiracao">Expiração</label>
            <input
              type="tel"
              [(ngModel)]="cartao.dataExp"
              id="cc-exp"
              autocomplete="cc-exp"
              name="expiry"
              class="form-control"
              placeholder="MM/AAAA"
              ccExp
            />
          </div>
          <div class="col-md-6">
            <label for="codSeguranca">CVV</label>
            <input
              type="tel"
              id="cc-cvc"
              name="cc-cvc"
              class="form-control"
              placeholder="123"
              ccCvc
              [(ngModel)]="cartao.cvv"
            />
          </div>

          <div class="col-md-12">
            <label for="bandeira">Bandeira do Cartão</label>
            <select class="form-control" [(ngModel)]="cartao.bandeira">
              <option value="Visa">Visa</option>
              <option value="Master Card">Master Card</option>
              <option value="American Express">American Express</option>
              <option value="Elo">Elo</option>
              <option value="Diners Club">Diners Club</option>
              <option value="Discover">Discover</option>
              <option value="JCB">JCB</option>
              <option value="Aura">Aura</option>
              <option value="Hipercard">Hipercard</option>
            </select>
          </div>
        </div>
        <div class="box-body col-md-6">
          <div class="col-md-12 box-modal imagemCartao">
            <h5 class="nomeCartao cor-item">{{ cartao.nomeCartao }}</h5>
            <h5 class="numeroCartao cor-item">{{ cartao.numero }}</h5>
            <h5 class="dataVencimento cor-item">{{ cartao.dataExp }}</h5>
            <!-- <img width="35" class="bandeira" src="../../../assets/img/credit/mastercard.png" alt=""> -->
          </div>
        </div>
        <div class="box-footer">
          <a
            class="btn-save btn-lg btn btn-jogar-2 col-md-3 botoes save"
            (click)="cadastrarCartao()"
            data-dismiss="modal"
            >Salvar</a
          >
          <a
            class="btn-save btn-lg btn col-md-3 save cancel"
            data-dismiss="modal"
            aria-label="Close"
            >Cancelar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade modalMinhaCarteira"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalMinhaCarteira"
  aria-hidden="true"
>
  <div class="modal-dialog modal-minha-carteira">
    <div class="modal-content">
      <div class="col md-12">
        <div class="box-header">
          <h3>Minha Carteira</h3>
        </div>
        <div class="box-body col-md-12">
          <div *ngFor="let transacao of extrato.transacoes; let i = index">
            <div class="row" [ngClass]="i % 2 === 0 ? 'linha-extrato' : ''">
              <div class="col-md-12 espacamento">
                <div class="col-md-1">
                  <div
                    class="numeroJogo"
                    [ngClass]="
                      transacao.tpTransacaoFK === 1
                        ? 'btn-success'
                        : 'btn-danger'
                    "
                  >
                    <div class="numero">
                      <h4 *ngIf="transacao.tpTransacaoFK === 1">+</h4>
                      <h4 *ngIf="transacao.tpTransacaoFK === 2">-</h4>
                    </div>
                  </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5">
                  <h4 *ngIf="transacao.tpTransacaoFK === 1">ENTRADA</h4>
                  <h4 *ngIf="transacao.tpTransacaoFK === 2">SAÍDA</h4>
                  <h6 class="">{{ transacao.valor | currency: "BRL" }}</h6>
                </div>
                <div class="col-md-5 data-transacao">
                  <h6 class="pull-right">
                    {{ transacao.dataSolicitacao | date: "dd/MM/yyyy HH:mm" }}
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="col-md-4">
            <h4>Saldo Atual:</h4>
            <h6 class="cor-item">
              {{ usuario.carteira?.saldo || 0 | currency: "BRL" }}
            </h6>
          </div>
          <div class="col-md-8">
            <button
              class="pull-right btn-lg btn btn-jogar-2 botoes efet-saque"
              (click)="efetuarSaque()"
              data-dismiss="modal"
            >
              EFETUAR SAQUE
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
