/*Setar o elemento principal com altura mínima para não quebrar a responsividade*/
.box{
  min-height: 600px !important;;
}
/*Setar elementos input do formulário com pouca opacidade,nenhum ponteiro de eventos e não permitir nenhum cursor*/
.disabledDiv {
  pointer-events: none;
  opacity: 0.8;   
  cursor: not-allowed !important;
}
/*Setar os botões para não terem borda e o tamanho da fonte do texto que contém no botão*/
.btn{
  border: 0px;
  font-size: 14px;
}
/*Setar botão específico de salvar com uma largura fixa*/
.btn-save{
  width: 100px;
}
/*Setar Imagem do perfil com um espaço do topo e uma altura de 100px*/
.img {
  margin-top: 40px;
  height: 100px;
}
/*Setar cor cinza no item*/
.cor-item {
  color: grey;
}
.btn-jogar-2{
  width: 70% !important;
}
/* Retirar borda por uma margem para a esquerda,colocar todo o texto que contém no botão em caixa alta e setar um espaço do topo*/
.botoes{
  border: 0px !important;
  margin-left: 10px !important;
  text-transform: uppercase;
  margin-top: 10px;
  width: 25% !important;
}
/*ocupar 80% do card com a linha*/
.linha {
  width:80%;
}
/*Setar o nome do perfil com um espaço do topo e uma altura de 40px*/
.nome {
  margin-top:40px;
}
/*Alinhar texto no centro*/
.alinhamento-centro{
  text-align: center;
}
/*Prencher o footer com 27px espaçando do topo*/
.box-footer{
  padding-top: 27px !important;
}
/*por um espaço entre um card e outro */
.espacamento-titulo{
  margin-top: 20px !important;
}
.espacamento{
  margin-top: 10px !important;
}
.box-modal {
  margin-top: 25px;
  
}
.save {
  padding: 15px;
  line-height: 20px;
}
.cancel {
  background-color: red;
  border: 0px !important;
  margin-left: 10px !important;
  text-transform: uppercase;
  margin-top: 10px;
  color: white !important;
  border-radius: 3px;
  font-size: 14px;
}
.modal-content {
  border-radius: 3px;
}
.bandeira{
  position: absolute;
  margin-top: 115px;
  margin-left: 180px;
}
.imagemCartao{
  background-image: url(../../../assets/img/credit/cartao.png);
  background-repeat: no-repeat;
  min-width: 245px;
  min-height: 160px;
}
.numeroCartao{
  margin-top : 90px;
  position: absolute;
  font-size: 17px;
  font-weight: 700;
}
.dataVencimento{
  position: absolute;
  margin-top: 120px;
  font-weight: 700;
}
.nomeCartao{
  position: absolute;
  margin-top: 50px;
  margin-left: 55px;
  max-width: 165px;
  font-weight: 700;
}
.modal-minha-carteira{
  margin-left: 10%;
  margin-top: 5%;
  max-width: 450px;
}
.linha-extrato{
  background-color: rgba(218, 223, 225, 0.4);
}
.data-transacao{
  margin-top: 7%;
}
.footer-card-1{
  margin-top: 125px !important;
}
.efet-saque{
  width: 70% !important;
}