.btn {
  width: 80% !important;
}

.numeros-fechamento {
  margin-left: 5px;
  background-color: #80b9e6;
  padding: 7px;
  width: 40px;
  border-radius: 75%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.numeroJogo {
  display: inline-block !important;
  height: 50px !important;
  width: 50px !important;
  font-size: 15px !important;
  font-weight: 100 !important;
  text-align: center !important;
  margin-left: 7px;
  background-color: white !important;
  background: none repeat scroll 0 0 #f6f1f1 !important;
  border: 1px solid #ffffff !important;
  border-radius: 50% !important;
  color: #68b4b7 !important;
}

.numero {
  margin-top: 30%;
}

.modal-dialog {
  width: 115rem !important;
}

