<div id="modal-detalhes-jogo" class="modal fade" style="display: none">
  <div class="modal-dialog text-center">
    <div class="modal-header">
      <strong>Detalhes do jogo</strong>
    </div>

    <div class="modal-content">

      <div class="modal-body">
        <div class="text-center">

          <h2 class="text-bold">{{ bolao.titulo }}</h2>

          <div class="row text-bold">
            <div class="col-md-6 col-lg-6 col-sm-6 text-left">
              <p>{{ bolao.titulo }}</p>
              <p>sorteio: {{ bolao.dataBolao | date : 'dd/MM/yyyy' }}</p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 text-right">
              <p>{{ bolao.valorSorteio | currency: 'BRL' }}</p>
              <p>Concurso: {{ bolao.numeroConcurso }}</p>
            </div>
          </div>

          <hr/>

          <div class="text-left" [innerHTML]="bolao.detalhes"></div>

          <h3 class="text-bold">Dezenas sorteadas</h3>

          <br/><br/>

          <span class="numeros-fechamento" *ngFor="let dezena of bolao.dezenasSorteadas">{{ dezena }}</span>

          <br/><br/>

          <p class="text-bold text-left">{{ bolao.jogos?.length }} Apostas veja abaixo</p>

          <div class="inline row" *ngFor="let jogo of bolao.jogos; let _index = index">
            <span class="text-bold"> {{ _index + 1 }} - </span>

            <div style="display: inline !important;">
              <div class="numeroJogo" *ngFor="let _numerosAposta of jogo.numeros">
                <div class="numero">{{ _numerosAposta }}</div>
              </div>
            </div>

            <div class="inline" style="margin-left: 1rem !important;">
              <strong>Nº Acertos:</strong> {{ jogo.acertos }}
            </div>

          </div>
        </div>
      </div>

      <div class="modal-footer text-center">
        <button type="button" class="btn" style="width: 100% !important;" data-dismiss="modal"> Fechar</button>
      </div>
    </div>
  </div>
</div>
