.btn {
  margin-left: 1%;
  width: 15% !important;
}
.botao {
  width: 100% !important;
}
.col-md-6 {
  width: 50% !important;
}
.remover-jogo {
  color: red;
}
.btn-remover-jogo {
  margin-top: 30px;
  font-size: 25px;
}
.bolao-imagens {
  display: flex;
}
.bolao-imagem {
  margin: 10px 5px 10px 0;
}
