<app-header></app-header>

<div class="content-wrapper">
  <div class="container">
    <section class="content-header">
      <h1>Cadastrar Bolões</h1>
      <small>Aqui você pode cadastrar novos bolões</small>
    </section>
  </div>
  <div class="container col">
    <div>
      <div class="shadow-lg box box-default col-md-12">
        <div class="box-header with-border">
          <h4 class="box-title">
            {{ criarBolao.titulo || "Sem título" }}
          </h4>
          <div *ngIf="showAlert" class="alert alert-success">
            Bolão cadastrado com sucesso
          </div>
        </div>
        <div class="box-body with-border">
          <div class="row">
            <div class="col-md-3">
              <h4>Título</h4>
              <br />
              <input
                [(ngModel)]="criarBolao.titulo"
                type="text"
                class="form-group"
              />
            </div>
            <div class="col-md-3">
              <h4>Data do sorteio</h4>
              <br />
              <input
                [(ngModel)]="criarBolao.dataBolao"
                type="date"
                class="form-group"
              />
            </div>
            <div class="col-md-2">
              <h4>N° do concurso:</h4>
              <br />
              <input
                [(ngModel)]="criarBolao.numeroConcurso"
                type="number"
                value="1"
                min="1"
                class="form-group"
              />
            </div>
            <div class="col-md-2">
              <h4>Qtd de cotas:</h4>
              <br />
              <input
                [(ngModel)]="criarBolao.quantidadeCotas"
                type="number"
                value="1"
                min="1"
                class="form-group"
              />
            </div>
            <div class="col-md-2">
              <h4>Vr. cota</h4>
              <br />
              <input
                type="text"
                placeholder="R$ 1,00"
                name="valorCota"
                [(ngModel)]="criarBolao.valorCota"
                class="form-group"
              />
            </div>
          </div>
          <div class="row" style="margin-bottom: 16px">
            <div class="col-md-3">
              <a (click)="selecionarDezenas()" class="btn btn-jogar-2 botao"
                >INSERIR JOGO</a
              >
            </div>
          </div>
          <div class="row">
            <div *ngFor="let _ of criarBolao.jogos; let index = index">
              <div class="col-md-4">
                <h5>Digite os numeros separados por ";"</h5>
                <input
                  type="text"
                  style="width: 100%"
                  placeholder="01;02;03;04;05;06;07;08;09;10;11;12;13;14;15"
                  [name]="i"
                  [(ngModel)]="criarBolao.jogos[index]"
                  class="form-group"
                />
              </div>
              <div class="col-md-2">
                <a class="remover-jogo pull-left" (click)="removerIndex(index)"
                  ><p class="btn-remover-jogo">
                    <i class="fa fa-minus-circle"></i></p
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="box-footer">
          <div class="col-md-12 pull-right">
            <div class="">
              <h4><b>Selecione a imagem do bolão registrado: </b></h4>
              <span style="color: red" *ngIf="showMessage"
                >somente imagens são suportadas</span
              >
              <br />
              <input
                #file
                type="file"
                name="imagens"
                multiple
                accept="image/*"
                (change)="preview($event.target.files)"
              />
              <div class="bolao-imagens">
                <div *ngFor="let imageUrl of imagesUrls" class="bolao-imagem">
                  <img
                    *ngIf="imageUrl"
                    [src]="imageUrl"
                    height="200"
                    width="200"
                  />
                </div>
              </div>
            </div>

            <a (click)="confirmar()" class="btn btn-jogar-2 pull-right"
              >Cadastrar bolão</a
            >
            <a (click)="cancelar()" class="btn btn-danger pull-right"
              >Cancelar</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
