<app-header></app-header>

<div class="container" style="width: 80%">
  <h2 class="box-title titulo-premios">Listagem de prêmios do
    site<span>Total em Prêmios: {{ totalEmPremios | currency: "BRL" }}</span></h2>
  <div class="box">
    <div class="box-body">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="ui stripe"
      >
        <colgroup>
          <col style="width:5%"/>
          <col style="width:10%"/>
          <col style="width:5%"/>
          <col style="width:10%"/>
          <col style="width:40%"/>
          <col style="width:10%"/>
          <col style="width:5%"/>
          <col style="width:10%"/>
        </colgroup>
        <thead>
        <tr>
          <th>Id</th>
          <th>Prêmio Site</th>
          <th>Data</th>
          <th>Concurso</th>
          <th>Acertos</th>
          <th>Grupo</th>
          <th>Cotas</th>
          <th>Ver Jogos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let premio of premios">
          <td>{{ premio.id }}</td>
          <td>{{ premio.premios | currency: "BRL" }}</td>
          <td>{{ premio.data | date: "dd/MM/yyyy" }}</td>
          <td>{{ premio.concurso }}</td>
          <td>
            ({{ premio.quantidade15 | number }}) 15 pontos,({{
            premio.quantidade14 | number
            }}) 14 pontos,({{ premio.quantidade13 | number }}) 13 pontos, ({{
            premio.quantidade12 | number
            }}) 12 pontos e ({{ premio.quantidade11 | number }}) 11 pontos
          </td>
          <td>{{ premio.grupo }}</td>
          <td>{{ premio.cotas }}</td>
          <td>
            <a (click)="getJogo(premio.id)" data-toggle="modal" data-target="#modal-detalhes-jogo"
               style="cursor: pointer !important;">
              Detalhes
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-detalhes-jogo [bolao]="bolao"></app-detalhes-jogo>
