<app-header></app-header>
<div class="content-wrapper">
  <div class="container">
    <section class="content-header">
      <h1>Cadastrar Tutorial</h1>
      <br />
      <small>Aqui você pode cadastrar Tutoriais e vídeos</small>

      <ol class="breadcrumb">
        <li>
          <a href="/#/home"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li><a href="/#/tutorial">Tutorial</a></li>
        <li class="active">Cadastrar</li>
      </ol>
    </section>
  </div>
  <div class="container col">
    <div>
      <div class="shadow-lg box box-default col-md-12">
        <div class="box-header with-border">
          <h4 class="box-title">
            Tutorial
          </h4>
        </div>
        <form #f="ngForm"  id="ngForm" (ngSubmit)="cadastrarTutorial(f)">

        <div class="box-body with-border">
          <!--  -->
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-6">
                <h4>Ordem</h4>
                <br />
                <input
                  [(ngModel)]="tutorial.ordem"
                  name="ordem"
                  #ordem="ngModel"
                  type="number"
                  required
                  class="form-control"
                />

              </div>
              <div class="col-md-6">
                <h4>Vídeo</h4>
                <br />
                <input
                  [(ngModel)]="tutorial.link"
                  type="text"
                  name="link"
                  #link="ngModel"
                  [ngClass]="{'error':link.invalid && (link.dirty || link.touched) }"
                  pattern="^(https?\:\/\/)?(www\.youtube\.com|youtu\.?be)\/.+$"
                  required
                  class="form-control"
                />
                <div *ngIf="link.invalid && (link.dirty || link.touched)">
                  <div *ngIf="link.errors?.pattern" style="color:red">
                    Link precisa ser um link do youtube;
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <h4>Titulo:</h4>
                <br />
                <input
                  [(ngModel)]="tutorial.titulo"
                  [ngClass]="{'error':titulo.invalid && (titulo.dirty || titulo.touched) }"
#titulo="ngModel"
                  type="text"
                  name="titulo"
                  required
                  class="form-control"
                />
              </div>
              <div class="col-md-12">
                <h4>Descrição</h4>
                <br />
                <textarea
                  [(ngModel)]="tutorial.descricao"
                  [ngClass]="{'error':descricao.invalid && (descricao.dirty || descricao.touched) }"
                  #descricao="ngModel"

                  type="text"
                  required
                  name="descricao"

                  class="form-control"
                >
                </textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="box-footer">
          <div class="col-md-12 pull-right btn-group">
            <button type="submit" [disabled]="!f.valid" class="btn btn-jogar-2 pull-right"
              >Cadastrar Tutorial</button
            >
            <a (click)="cancelar()" class="btn btn-danger pull-right"
              >Cancelar</a
            >
          </div>
        </div>

      </form>
      </div>
    </div>
  </div>
</div>
