.jogo {
  border: 0px;
  cursor: pointer;
}

.jumb {
  border-radius: 20px;
}

.jumbotron {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1) !important;
}

.box-default {
  border: 0px !important;
}

.box-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.num-acertos {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.boxJogo {
  max-width: 400px !important;
  margin-top: 35px !important;
  text-align: center;
}

.numeroJogo {
  margin-left: 20px !important;
  margin-top: 5px !important;
}

.numero {
  font-style: italic;
}

.palpite {
  border: 0px !important;
  width: 25% !important;
}

.palpite-limpar {
  border: 0px !important;
  width: 25% !important;
  margin-right: 16px;
}

.botoes {
  border: 0px !important;
  margin-left: 10px !important;
  width: 25% !important;
}

.selecionado {
  background-color: #80b9e6 !important;
  color: white !important;
}

.double-selecionado {
  background-color: #ec0e7d !important;
  color: white !important;
}

.boxx {
  margin-top: 30px;
}

.box-form {
  margin-top: 30px;
}

.valorTitulo {
  font-size: 20px;
}

.valorUnitario {
  font-size: 20px;
}

.valorTotal {
  font-size: 35px;
  color: #088b90;
}

.box {
  width: 85%;
  margin-left: 10%;
}

.index-fechamento {
  white-space: nowrap;
}

.box-simulacao-acerto {
  display: flex;
  justify-content: center;
}

.box-fechamentos {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.fechamentos {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 5px 0 #f2f2f2;
}

.numeros-fechamento {
  margin-left: 5px;
  background-color: #80b9e6;
  padding: 7px;
  width: 40px;
  border-radius: 75%;
  text-align: center;
  color: white;
  font-weight: bold;
}

.box-acerto {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.acerto {
  display: flex;
}

.numeros-acerto {
  margin-left: 5px;
  width: 40px;
  text-align: center;
  font-weight: bold;
}

.jogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -webkit-print-color-adjust: exact !important;
}

.head > h1 {
  font-size: 18px;
}

.head > h2 {
  font-size: 16px;
}

.head > h3 {
  font-size: 14px;
}

.radio-inline:first-child {
  margin-left: 10px;
}

.radio-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  justify-items: flex-start;
  padding: 0 0px 0px 5px;
  grid-gap: 5px;
}

.marca-dagua {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    background-image: url("../../assets/images/logo-mania-marca-dagua.png");
    background-repeat: repeat-y;
    background-size: 100%;
  }
}
