<app-header></app-header>

<div *ngIf="!fechamentosGerados" class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="input-field col-md-5">
      <h1 class="titulo">GERAR FECHAMENTO</h1>
    </div>
  </div>
  <div class="row">
    <div class="box boxx box-default">
      <div class="box-body with-border">
        <form>
          <div class="col-md-6 box-form">
            <div class="row">
              <div class="form-group col-xs-12">
                <label class="control-label">Gerar fechamentos utilizando quantos números?</label>
                <br/>
                <div class="radio-box">
                  <label
                    *ngFor="let num of [16, 17, 18, 19, 20, 21, 22, 23, 24, 25]"
                    class="radio-inline"
                  ><input
                    type="radio"
                    name="qtdNumeros"
                    [value]="num"
                    (change)="mudouQtd()"
                    [(ngModel)]="quantidadeNumeros"
                  />
                    {{ num }}</label
                  >
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="form-group col-xs-12" *ngIf="quantidadeNumeros">
                <label for="nivelFechamento" class="control-label"
                >Escolha o nível do fechamento:</label
                >
                <select
                  name="nivelFechamento"
                  id="nivelFechamento"
                  class="form-control"
                  [(ngModel)]="tipoFechamentoId"
                  (change)="buscarFechamentos()"
                >
                  <option>Selecione...</option>
                  <option
                    *ngFor="let tipo of tiposFechamentos"
                    [value]="tipo.id"
                  >
                    {{ tipo.descricao }}
                  </option>
                </select>
              </div>
              <span class="col-xs-12" *ngIf="!quantidadeNumeros"
              >Não foi selecionada a quantidade de números</span
              >
            </div>
            <div class="row">
              <div
                class="form-group col-xs-12"
                *ngIf="fechamentos.length && quantidadeNumeros"
              >
                <label for="mtrzJogo" class="control-label"
                >Escolha o fechamento:</label
                >
                <select
                  name="mtrzJogo"
                  [ngModel]="mtrzJogo"
                  (ngModelChange)="onmtrzJogoChange($event)"
                  id="mtrzJogo"
                  class="form-control"
                >
                  <option>Selecione...</option>
                  <option
                    *ngFor="let fechamento of fechamentos"
                    [ngValue]="fechamento"
                  >
                    {{ fechamento.descricao }}
                  </option>
                </select>
              </div>
              <span
                class="col-xs-12"
                *ngIf="!fechamentos.length && quantidadeNumeros"
              >Nenhum nível de fechamento selecionado</span
              >
            </div>
            <br/>
            <div class="row" *ngIf="mtrzJogo">
              <div class="form-group col-xs-12">
                <label class="control-label">
                  Valor do fechamento:&nbsp;{{
                  mtrzJogo.valorTotal | currency: "BRL"
                  }}
                </label>
              </div>
            </div>
            <br/>
            <p *ngIf="errorMsg" class="alert alert-danger" style="font-size: 11px">{{ errorMsg }}</p>

            <div class="row">
              <button
                (click)="handleGerarFechamento()"
                class="btn btn-lg btn-jogar-2 botoes"
                [disabled]="!podeGerarFechamento()"
              >
                GERAR
              </button>
              <a (click)="voltar()" class="btn btn-lg btn-jogar botoes"
              >CANCELAR</a
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="box box-default boxJogo">
              <div class="box-body">
                <b *ngIf="mtrzJogo"
                >{{ mtrzJogo.qtdJogos }} JOGOS SERÃO GERADOS</b
                >
                <div class="row">
                  <div
                    [attr.id]="i"
                    style="cursor: pointer"
                    (click)="selecionarNumero(i)"
                    *ngFor="let num of numeros; let i = index"
                    class="numeroJogo"
                  >
                    <div class="numero">
                      <p>{{ num }}</p>
                    </div>
                  </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                  <button
                    (click)="palpite()"
                    [disabled]="!this.mtrzJogo || !this.quantidadeNumeros"
                    class="pull-right btn btn-lg btn-jogar palpite"
                  >
                    PALPITE
                  </button>
                  <button
                    (click)="limparSelecionados()"
                    class="pull-right btn btn-lg btn-jogar palpite-limpar"
                  >
                    LIMPAR
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div *ngIf="fechamentosGerados" class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="input-field col-md-3">
      <h1 class="titulo">GERAR JOGO</h1>
    </div>
  </div>

  <div class="row" *ngIf="resultadoConcurso">
    <div class="box boxx box-default">
      <div class="box-header">
        <div class="box-title">
          <h3>Simulação de Acertos</h3>
        </div>
      </div>

      <div class="row box-simulacao-acerto">
        <div *ngFor="let item of this.acertosPremiados | keyvalue: keyDescOrder">
          <div class="box-fechamentos" style="margin-bottom: 0">
            <div class="fechamentos">
              <div class="numeros-fechamento">
                <span>{{ item.key }}</span>
              </div>
            </div>
          </div>

          <div class="box-acerto">
            <div class="acerto">
              <div class="numeros-acerto">
                <strong>{{ item.value || 'N/A' }}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="box boxx box-default">
      <div class="box-header">
        <div class="box-title">
          <h3>FECHAMENTO</h3>
          <form class="form-inline">
            <div class="form-group col-xs-12">
              <label for="concurso" class="control-label"
              >Escolha o concurso: &nbsp;</label
              >
              <select
                id="concurso"
                name="concurso"
                class="form-control"
                [(ngModel)]="resultadoConcurso"
                (ngModelChange)="handleChangeConcurso()"
              >
                <option selected value="">Selecione...</option>
                <option
                  *ngFor="let concurso of concursos"
                  [ngValue]="concurso.dezenas"
                >
                  {{ concurso.numero_concurso }}
                </option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="box-body with-border">
        <div class="box-header">
          <div class="box-jogo">
            <div class="box-title">
              <h3>{{ fechamentosGerados.matriz }}</h3>
            </div>
            <div class="row">
              <div
                class="box-fechamentos"
                *ngFor="
                  let fechamento of fechamentosGerados.fechamentos;
                  let i = index
                "
              >
                <div class="index-fechamento">
                  <strong>{{ ("00000" + (i + 1)).slice(-5) }} - </strong>
                </div>
                <div class="fechamentos">
                  <div
                    *ngFor="let num of fechamento.numeros.split(';')"
                    class="numeros-fechamento"
                  >
                    <span>{{ num }}</span>
                  </div>
                </div>
                <div class="num-acertos" *ngIf="resultadoConcurso">
                  <strong
                  >Acertos:&nbsp;{{
                    ("00" + fechamento.acertos).slice(-2)
                    }}</strong
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="text-center row col-md-12">
            <button class="btn btn-lg btn-jogar botoes" (click)="download2()">
              BAIXAR
            </button>
            <button
              *ngIf="teimosinhas && teimosinhas.length; else teimosinhasVazia"
              type="button"
              class="btn btn-lg btn-jogar botoes"
              data-toggle="modal"
              data-target="#modal-teimosinha"
            >
              IMPRIMIR
            </button>
            <ng-template #teimosinhasVazia>
              <button
                type="button"
                class="btn btn-lg btn-jogar botoes"
                (click)="imprimir()"
              >
                IMPRIMIR
              </button>
            </ng-template>

            <!--
            <button
              type="button"
              (click)="captureScreen()"
              class="btn btn-lg btn-jogar botoes"
            >
              IMPRIMIR
            </button>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-teimosinha" style="display: none">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <strong>Imprimir em teimosinha?</strong>
      </div>
      <div class="modal-body">
        <!--
        <div class="row">
          <div class="col-12">
            <label>Selecione a opção:</label>
            <select [(ngModel)]="teimosinha" class="form-control">
              <option value="3">3</option>
              <option value="6">6</option>
              <option value="12">12</option>
              <option value="18">18</option>
              <option value="24">24</option>
            </select>
          </div>
        </div>
        -->
        <div class="row teimosinhas">
          <div
            #divTeimosinha
            style="cursor: pointer"
            (click)="teimosinha = teimosa; selecionarTeimosinha(divTeimosinha)"
            class="numeroJogo"
            *ngFor="let teimosa of teimosinhas"
          >
            <div class="numero">
              <p>{{ teimosa.Numero }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <button
            type="button"
            class="btn btn-primary pull-left"
            (click)="imprimir(teimosinha.Id)"
            [disabled]="!teimosinha"
            data-dismiss="modal"
          >
            Sim
          </button>
          <button
            type="button"
            class="btn btn-default pull-left"
            (click)="imprimir()"
            data-dismiss="modal"
          >
            Não
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner
  bdColor="rgba(0,0,0,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise-fade-rotating"
  [fullScreen]="true"
><p style="color: white">Carregando...</p></ngx-spinner
>
