<app-header></app-header>

<div class="content-wrapper container-fluid">
  <div *ngIf="!meusJogos?.length">
    <div class="container col-md-12 jumbotron text-center">
      <p class="sem-aposta">VOCÊ AINDA NÃO PARTICIPOU DE NENHUM BOLÃO</p>
    </div>
  </div>
  <div class="container" style="width: 80%" *ngIf="meusJogos?.length">
    <div>
      <h3 class="box-title">
        Total de Prêmios Recebidos:
        {{ totalPremiosRecebidos | currency: "BRL" }}
      </h3>
    </div>
    <div>
      <table
        style="width: 100%"
        class="table table-bordered table-striped table-sm"
      >
        <colgroup>
          <col style="width:5%"/>
          <col style="width:10%"/>
          <col style="width:7%"/>
          <col style="width:5%"/>
          <col style="width:35%"/>
          <col style="width:10%"/>
          <col style="width:10%"/>
          <col style="width:12%"/>
          <col style="width:7%"/>
        </colgroup>
        <thead>
        <tr>
          <th>Id</th>
          <th>Prêmio Recebido</th>
          <th>Data Sorteio</th>
          <th>Concurso</th>
          <th>Resumo dos Jogos</th>
          <th>Grupo</th>
          <th>Cotas adquiridas</th>
          <th>Prêmio total do bolão</th>
          <th>Ver jogos</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let jogo of meusJogos">
          <td>{{ jogo.id }}</td>
          <td>{{ jogo.premioRecebido | currency: "BRL" }}</td>
          <td>{{ jogo.dataSorteio | date: "dd/MM/yyyy" }}</td>
          <td>{{ jogo.concurso }}</td>
          <td>
            ({{ jogo.quantidade15 | number }}) 15 pontos,({{
            jogo.quantidade14 | number
            }}) 14 pontos,({{ jogo.quantidade13 | number }}) 13 pontos, ({{
            jogo.quantidade12 | number
            }}) 12 pontos e ({{ jogo.quantidade11 | number }}) 11 pontos
          </td>
          <td>{{ jogo.grupo }}</td>
          <td>{{ jogo.cotasAdquiridas }} / {{ jogo.totalDeCotas }}</td>
          <td>{{ jogo.premioTotalDoBolao | currency: "BRL" }}</td>
          <td>
            <a (click)="getJogo(jogo.id)" data-toggle="modal" data-target="#modal-detalhes-jogo"
               style="cursor: pointer !important;">
              Detalhes
            </a>
          </td>
        </tr>
        </tbody>
        <tfoot></tfoot>
      </table>
    </div>
  </div>
</div>

<app-detalhes-jogo [bolao]="bolao"></app-detalhes-jogo>
