.box {
  margin-top: 20px;
}
#inativo {
  background: radial-gradient(
    circle closest-side,
    #f00 0%,
    #f00 98%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 15px;
}
#ativo {
  background: radial-gradient(
    circle closest-side,
    #55ee6f 0%,
    #55ee6f 98%,
    rgba(0, 0, 0, 0) 100%
  );
  height: 15px;
}
a {
  color: #808080 !important;
  cursor: pointer;
}
