<app-header></app-header>
<div class="container">
  <h2 class="box-title">Listagem de Saques Pendentes</h2>
  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <table
        datatable
        [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"
        class="ui stripe"
      >
        <thead>
          <tr>
            <th>
              <img
                width="30"
                height="30"
                src="../../../assets/images/money-sack-icon.png"
              />
            </th>
            <th>NOME</th>
            <th>VALOR</th>
            <th>DATA SOLICITAÇÃO</th>
            <th>AÇÕES</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let extrato of extratos">
            <tr *ngFor="let transacao of extrato.transacoes">
              <td>
                <img
                  width="30"
                  height="30"
                  src="../../../assets/images/money-sack-icon.png"
                />
              </td>
              <td *ngIf="extrato.dadosBancarios || extrato.carteira">
                {{
                  extrato.dadosBancarios?.nomeCompleto ||
                    extrato.carteira?.nomeUsuario
                }}
              </td>
              <td *ngIf="!extrato.dadosBancarios && !extrato.carteira">
                <span class="text-danger">
                  Nome de usuário não encontrado
                </span>
              </td>
              <td>{{ transacao.valor | currency: "BRL" }}</td>
              <td>{{ transacao.dataSolicitacao | date: "dd/MM/yyyy HH:mm" }}</td>
              <td>
                <a class="acoes text" (click)="confirmarSaque(transacao)">
                  <i [ngStyle]="getStyleByDate(transacao.dataSolicitacao)" class="fa fa-check"></i>
                </a>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <!-- /.box-body -->
  </div>
</div>
