/* You can add global styles to this file, and also import other style files */

.btn{
    font-size: 14px !important;
    width: 25% !important;
}
.skin-blue{
    background: #fff !important;
}
.skin-blue .main-header li.user-header{
    background: #fcfcfc !important;
}
.skin-blue .main-header .navbar{
    background: #efeded !important;
    color: black !important;
}
.content-wrapper {
    background: #fff !important;
}
.main-header .navbar-brand {
    color: black !important;

}
.main-header .navbar{
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1) !important;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: black !important;
}
.navbar-nav{
    color: black !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header>p{
    color: black !important;
}
.box{
    background: #fcfcfc !important;
    box-shadow: 2px 2px 18px rgba(0,0,0,0.4) !important;
    border: 0px !important;
}
.box-header.with-border{
    border-bottom: #d4c7c7 !important;
}
.btn-jogar{
    background-color: #088b90 !important;
    border-color: #11797c !important;
    color: white !important;
    width: 100%;
}
.btn-jogar-2{
    background-color: #01e37f !important;
    border-color: #04bb68 !important;
    color: white !important;
}
.btn-jogar-outline{
    color: #088b90 !important;
}
.btn-jogar-2-outline{
    color: #01e37f !important;
}

select {
    font-family: 'FontAwesome', 'sans-serif' !important;
    background-color: #f9f9f9 !important;
    border-radius: 5px !important;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1 !important;
    font-style: normal;
    font-weight: 100;
}
input{
    border-radius: 5px !important;
}

.acoes{
    margin-left: 10px;
}
.row{
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.numeroJogo {
    background: none repeat scroll 0 0 #f6f1f1;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #68b4b7;
    font-size: 15px;
    font-weight: 100;
    width: 50px;
    height: 50px;
    text-align: center;
    display: inline-block;
}
.numero{
    margin-top: 30%;
}


//CHECKBOX
.input-cinza{
    background-color: #e2e2e2 !important;
}

/* The container */

.containerChk {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerChk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerChk:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerChk input:checked ~ .checkmark {
    background-color: white;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerChk input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerChk .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #0ebd6e;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.textoCheck{
    font-size: 14px;
    font-style: normal;
}
.texto-cinza{
    color: #5f5e5e !important;
}

//DATATABLES
table{
    color: #808080;
    text-align: center;
}
.odd{
    background-color: #eaeaea !important;
}
#DataTables_Table_0 > thead > tr > th{
    text-align: center;
}
#DataTables_Table_0 > tbody > tr > td{
    border-right: 1px 1px 1px 1px solid ;
}
#DataTables_Table_0_filter > label > input{
    border: 0px !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28) !important;
    padding: 5px !important;
}
#DataTables_Table_0_filter > label > input:placeholder-shown{
    background: url('./assets/images/search-icon.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
}
#DataTables_Table_0_length > label > select{
    border: 0px !important;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.28) !important;
    padding: 5px !important;
}
.sorting, .sorting_asc, .sorting_desc {
    background : none !important;
}

//Video Youtube

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
    margin-top: 10px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

body.modal-open .container{
    filter: blur(4px);
}
body.loader-show .container{
    filter: blur(4px) !important;
    pointer-events: none;
    cursor: not-allowed !important;
}
.modal-dialog{
    margin-top: 10% !important;
}
.modal-content{
    border-radius: 2% !important;
}
.slick-slider {
  width: 90%;
  margin: auto;
  background: #000;
}
.slick-prev::before {
  color: #0b4c50 !important;
}
.slick-next::before {
  color: #0b4c50 !important;
}
