<app-header></app-header>

<div class="content-wrapper">
  <div class="container header-page">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Videos de como jogar<br />
        <small>Aqui você tem videos que te ensinam a jogar :) !</small>
      </h1>
      <ol class="breadcrumb">
        <li>
          <a href="/#/home"><i class="fa fa-dashboard"></i> Home</a>
        </li>
        <li class="active">Tutoriais</li>
      </ol>
      <!-- <a [routerLink]="['/tutorial/criar']" class="btn btn-primary"
        >Novo Tutorial</a
      > -->
    </section>
  </div>
  <div class="container-fluid col-md-12">
    <div class="container-fluid videos-tutorial">
      <div class="row">
        <div class="col-xs-3 tam-tutorial" *ngFor="let tutorial of tutoriais">
          <div class="video-container card-video">
            <iframe
              width="450"
              height="450"
              [src]="tutorial.safeURL"
              frameborder="0"
              allowfullscreen
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
