.header-page{
    margin-bottom: 50px !important;
}
.scroll {
    overflow-x: auto !important;
    // overflow-y: hidden !important;
    // white-space: nowrap !important;
    flex-wrap: nowrap !important;
    display: flex !important;
    -webkit-overflow-scrolling: touch;
}
.scroll::-webkit-scrollbar:horizontal {
    width: 13px;
    height: 13px;
}


.card-video {
    width: 450px;
    height: auto;

}
.card-video:hover {
    -webkit-transform: scale(1.1) !important;
    -moz-transform: scale(1.1)!important;
    -o-transform: scale(1.1)!important;
    -ms-transform: scale(1.1)!important;
    transform: scale(1.1)!important;

}
.video-card {
    width: 300px;
    height: auto;
}
.video-card:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.tam-tutorial {
    margin-right: 100px;
}
.mais-videos-espacamento {
    margin-right: 15px;
}