<app-header></app-header>
<div class="content-wrapper">
  <div class="container-fluid">
    <div class="container">
      <div class="col-md-4 padding">
        <div class="box col-md-12 resultado-lotofacil">
          <div class="box-header col-md-12 with-border titulo">
            <div class="box-title titulo-resultado-texto">
              <h4>
                Concurso
                <b class="titulo-resultado">{{ ultimo.numero_concurso }}</b>
                Data
                <b class="titulo-resultado">{{
                  ultimo.data | date: "dd/MM/yyyy"
                }}</b>
              </h4>
            </div>
          </div>
          <div class="box-body col-md-12 resultado-numero">
            <div class="numeroJogo" *ngFor="let dezena of ultimo?.dezenas">
              <div class="numero">
                <p>{{ dezena }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 card-resultado-historico">
        <div class="box box-header col-md-12">
          <div class="box-header card-completo">
            <div class="box-title col-md-12">
              <small class="card-resultado-titulo"
                >Você ganhou em sua ultima aposta</small
              ><br />
              <h3 class="card-resultado-valor">
                {{ valorGanho | currency: "BRL" }}
              </h3>
            </div>
          </div>
          <div class="box-footer footer-premio-recuperado">
            <span>
              <a href="#/meus-jogos" class="detalhes-jogo"
                >Detalhes do meu Jogo</a
              >
            </span>

            <a
              class="
                btn
                pull-right
                btn-md btn-jogar btn-recuperar-premio
                premio-recuperado
              "
              >Recuperar Meu Prêmio</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="container-fluid box box-default card-premio">
      <div class="content-header col-md-12">
        <div class="col-md-3">
          <h6 class="num-concurso">
            Próximo concurso: {{ ultimo.numero_concurso + 1 }}
          </h6>
        </div>
        <section class="col-md-9">
          <h3 class="content-header-titulo row">Prêmio Estimado</h3>
        </section>
      </div>

      <div class="col-md-12 box-body">
        <div class="col-md-3 data-global">
          <div class="data">
            <i class="fa fa-calendar"></i>
            <h6 class="data">{{ proximo.data | date: "dd/MM/yyyy" }}</h6>
          </div>
        </div>
        <div class="col-md-9">
          <h2 class="valor-premio">
            <b>{{ proximo.valor_estimado | currency: "BRL" }}</b>
          </h2>
        </div>
      </div>

      <div arrows>
        <img src="assets/arrows/left.svg" (click)="previous()" />
        <img src="assets/arrows/right.svg" (click)="next()" />
      </div>
    </div>
  </div>
</div>

<!--<app-footer></app-footer> -->
