.card-resultado-titulo {
  font-size: 35px;
}

.card-resultado-valor {
  font-size: 3vw;
}

.card-completo {
  background-color: #01e37f;
  margin-left: -11px;
  margin-right: -11px;
  margin-top: -10px;
  border-radius: 3px;
  color: white;
}

.card-premio {
  background-color: #088b90 !important;
  border-radius: 8px;
}

.card-resultado-historico {
  padding-right: 1px;
}

.content-wrapper {
  margin-top: 30px;
}

.content-header {
  text-align: start;
}

.content-header-titulo {
  font-size: 33px;
  text-transform: uppercase;
  margin-top: 7px;
  color: white;
  text-align: center;
  padding-right: 125px;
}

.data {
  margin-left: 10px;
}

.valor-premio {
  font-size: 4.25vw;
  margin-left: 12px;
  color: white;
  text-align: start;
}

.num-concurso {
  margin-top: 14px;
  margin-bottom: 18px;
  font-size: 18px;
  color: white;
}

.data {
  font-size: 18px;
  color: white;
  display: inline;
}

.data-global {
  margin-top: 45px;
}

.titulo-resultado-texto {
  margin-top: -16px;
  margin-bottom: -10px;
  margin-left: 11px;
}

.titulo-resultado-texto h4 {
  font-size: 16px;
  font-weight: 700;
}

.titulo-resultado {
  color: #088b90;
  text-transform: uppercase;
  font-size: 22px;
}

.resultado-numero {
  margin-top: -14px;
  margin-bottom: 16px;
  padding-left: 3px;
  padding-right: 0px;
}

.numeroJogo {
  margin-left: 25px !important;
  margin-top: 5px !important;
  background: none repeat scroll 0 0 #fff !important;
}

.resultado-lotofacil {
  background-color: #efeded !important;
  border-radius: 2px;
}

.titulo {
  margin-top: 4px;
}

.premio-recuperado {
  text-transform: uppercase;
}

.footer-premio-recuperado {
  text-align: end;
}

.padding {
  padding-left: 1px;
}

.botao {
  margin-right: 70px;
}

.detalhes-jogo {
  margin-right: 10px;
}

/*@media screen and (min-width:480px) {
  .valor-premio {
    font-size: 50px;
  }
}*/
.btn-recuperar-premio {
  font-size: 12px !important;
}

.conferir-meu-jogo-btn {
  width: 50% !important;
}

[arrows] {
  position: absolute;
  right: 30px;
  bottom: 30px;
  img {
    width: 30px;
    cursor: pointer;
    &:first-of-type {
      margin-right: 12px;
    }
  }
}
